<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - View Order</title>
    <style>

    </style>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Order Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <p th:text="${order.deliveryMan.role+':&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+order.deliveryMan.firstName+' '+order.deliveryMan.lastName}"> <p></p>
                                        <p th:text="${order.client.role+':&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+order.client.firstName+' '+order.client.lastName}"><p></p>

                                        <p th:text="${'Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+order.price+'Dh'}"></p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                                                <p th:text="${'Address Client:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+order.address}"></p></li>
                                            <li class="small"><span class="fa-li"><i
                                                    class="fas fa-clinic-medical"></i></span>
                                                <p th:text="${'Pharmacy:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+order.pharmacy.name}"></p></li>
                                            <li class="small"><span class="fa-li"><i
                                                    class="fas fa-clinic-medical"></i></span>
                                                <p th:text="${' Address Pharmacy:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+order.pharmacy.address+' '+order.pharmacy.city.label}"></p></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img th:src="@{/img/shopping.png}" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>


        </div>

    </section>
</div>

</body>
</html>
