<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - View Order</title>
    <style>

    </style>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Order Information</h3>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-md-7">
                                    <p th:text="${'ID: '+order.id}"></p>
                                    <p th:text="${'Client: '+order.getClient().getUsername()}"></p>
                                    <th:block th:if="${order.getDeliveryMan()==null}">
                                        <p>Delivery : No assigned</p>
                                    </th:block>
                                    <th:block th:if="${order.getDeliveryMan()!=null}">
                                        <p th:text="${'Delivery: '+order.getDeliveryMan().getUsername()}"></p>
                                    </th:block>
                                    <p th:text="${'Price: '+order.price}"></p>
                                    <p th:text="${'Address: '+order.address}"></p>
                                    <hr/>
                                    <p>Details: </p>
                                    <ul th:if="${not #lists.isEmpty(orderDetails)}">
                                        <li th:each="orderDetail: ${orderDetails}"
                                            th:text="${orderDetail.productCode + ' X '+ orderDetail.nbrProduct}">

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-5">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>

    </section>
</div>

</body>
</html>
