<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pharma Connect - All Reviews</title>
</head>
<body>

<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">List of Reviews</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input class="form-control float-right" name="table_search" placeholder="Search" type="text">

                  <div class="input-group-append">
                    <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap text-center">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Rate</th>
                  <th>Review</th>
                  <th>Client-Id</th>
                  <th>Delivery-Id</th>
                  <th>Order-Id</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="review: ${reviews}">
                  <td th:text="${review.id}"></td>
                  <td th:text="${review.rate}"></td>
                  <td th:text="${review.review}"></td>
                  <td th:text="${review.client}"></td>
                  <td th:text="${review.deliveryMan}"></td>
                  <td th:text="${review.order}"></td>


                  <td>
                    <a th:href="@{'/reviews'+${review.id}}">
                      <i style="color: darkred; margin: 0 5px"  class="fas fa-eye" title="veiw review"></i>
                    </a>
                    <a th:href="@{'/reviews/edit/'+${review.id}}">
                      <i style="color: coral; margin: 0 5px" class="far fa-edit" title="Edit review"></i>
                    </a>

                    <a th:href="@{'/reviews/delete/'+${review.id}}">
                      <i style="color: darkred; margin: 0 5px"  class="far fa-trash-alt" title="Remove review"></i>
                    </a>

                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

      </div>
    </div>
  </section>
</div>

</body>
</html>
