<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pharma Connect - Profile</title>
</head>
<body>

<!-- Profile Image -->

<div layout:fragment="content">
  <section class="my-5">
  <div class="card-body box-profile">
    <div class="image text-center">
      <img alt="User Image" class="img-circle elevation-2" th:src="@{/img/avatar.png}" height="50px" width="50px">

    </div>

    <h3 class="profile-username text-center">ELMehdi ELMouttaki</h3>

    <p class="text-muted text-center">Super Admin</p>

    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item">
        <b>First Name</b> <a class="float-right">ELMehdi</a>
      </li>
      <li class="list-group-item">
        <b>Last Name</b> <a class="float-right">ELMouttaki</a>
      </li>
      <li class="list-group-item">
        <b>phone</b> <a class="float-right">+212602060804</a>
      </li>
      <li class="list-group-item">
        <b>username</b> <a class="float-right">mehdi.mouttaki</a>
      </li>
    </ul>

    <a href="#" class="btn btn-primary btn-block"><b>Update</b></a>
  </div>

  <!-- /.card-body -->
  </section>
</div>
</body>
</html>
