<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - View Pharmacy</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Pharmacy Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <p class="lead"><p th:text="${'Name Pharmacy:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+pharmacy.name}"></p></p>
                                        <p th:text="${'Adderss:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+pharmacy.address}"></p>
                                        <p th:text="${'City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+pharmacy.city.label}"></p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <hr  size="6" width="90%" color="grey" >
                                            <li class="small"><span class="fa-li"><i class="far fa-user"></i></span>
                                                <p th:text="${'Pharmacist:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+pharmacy.pharmacist}"></p></li>
                                            <li class="small"><span class="fa-li"></span>
                                                <p th:text="${'Lat:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+pharmacy.lat}"></p></li>
                                                <p th:text="${'Lng:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+pharmacy.lng}"></p></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img th:src="@{/img/pharmacy.png}" width="180" height="100" alt="Pharmacy Image" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <div class="row" th:if="${not #lists.isEmpty(pharmacy.permanents)}">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Pharmacy Permanent</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6" th:each="perm: ${pharmacy.permanents}">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-history"></i>
                                            </h3>
                                        </div>
                                        <hr  size="8" width="90%" color="grey" >
                                        <!-- /.card-header -->
                                        <div class="card-body clearfix">
                                            <blockquote class="quote-secondary">
                                                <p th:text="${'Start Date -- End Date:'+perm.showDate()}"></p>

                                                <p th:text="${'Type:'+perm.type}"></p>
                                            </blockquote>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>


                </div>

            </div>


            </div>


    </section>
</div>

</body>
</html>
