<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pharma Connect - All Products</title>
</head>
<body>

<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="callout callout-warning" th:if="${#lists.isEmpty(products)}">
            <h5>No Product found!</h5>

            <p>There is no product in our database, you can <a class="text-info" th:href="@{/products/add}">add one</a> .</p>
          </div>
          <div class="card" th:if="${not #lists.isEmpty(products)}">
            <div class="card-header">
              <h3 class="card-title">List of Products</h3>


            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap text-center">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Code</th>
                  <th >prescription</th>

                  <th></th>

                </tr>
                </thead>
                <body>
                <tr th:each="product: ${products}">
                  <td th:text="${product.id}"></td>
                  <td th:text="${product.name}"></td>
                  <td th:text="${product.price}"></td>
                  <td th:text="${product.code }"></td>
                  <td class="text-center">
                    <i th:if="${product.prescription}" class="fas fa-clipboard-check text-success"></i>
                    <i th:if="${!product.prescription}" class="fas fa-times text-danger"></i>
                  </td>

                  <td>
                    <a th:href="@{'/products'+${product.id}}">
                      <i style="color: darkred; margin: 0 5px"  class="fas fa-eye" title="veiw product"></i>
                    </a>

                    <a th:href="@{'/products/edit/'+${product.id}}">
                      <i style="color: coral; margin: 0 5px" class="far fa-edit" title="Edit product"></i>
                    </a>

                    <i th:attr="data-url='/products/delete/'+${product.id}"
                       style="color: darkred; margin: 0 5px; cursor: pointer"
                       class="far fa-trash-alt"
                       title="Remove Product"></i>
                </tr>
                  </td>

                </body>
              </table>
            </div>
            <!-- /.card-body -->

        </div>

      </div>
    </div>
    </div>
  </section>
</div>

</body>
</html>
