<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - View Product</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Product Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <p class="lead"><p th:text="${'Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+product.name}"></p></p>
                                        <p  th:text="${'Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+product.code}"></p>
                                        <p th:text="${'Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+product.price}"></p>
                                        <p th:text="${'Prescription:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+product.prescription}"></p></li>

                                    </div>
                                    <div class="col-5 text-center">
                                        <img th:src="@{/img/medication.png}" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>


        </div>

    </section>
</div>
                            <!-- /.card-body -->
                        </div>

                    </div>


                </div>

            </div>


            </div>


    </section>
</div>

</body>
</html>
