<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - View Product</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Product Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <p class="fas fa-upload" th:text="${product.name}"> <p></p>
                                        <p class="fas fa-download" th:text="${product.prescription}"><p></p>

                                        <p class="fas fa-euro-sign" th:text="${'Price'+product.price+'Dh'}"></p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                                                <p th:text="${'Code Product  :'+product.code}"></p></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img th:src="@{/img/medication.png}" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>


        </div>

    </section>
</div>

</body>
</html>
