<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pharma Connect - Chats</title>
</head>
<body>

<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="callout callout-warning" th:if="${#lists.isEmpty(chats)}">
            <h5>No Message found!</h5>
            <p>There is no Chat in our database</p>

          </div>
          <div class="card" th:if="${not #lists.isEmpty(chats)}">

            <div class="card-header">
              <h3 class="card-title">List of chats</h3>



            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap text-center">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Created-At</th>
                  <th>Client-Id</th>
                  <th>Delivery-Man</th>
                  <th>Order-Id</th>
                  <th></th>
                </tr>
                </thead>
                <body>
                <tr th:each="chat: ${chats}">
                  <td th:text="${chat.id}"></td>
                  <td th:text="${chat.createdAt}"></td>
                  <td th:text="${chat.client.username}"></td>
                  <td th:text="${chat.deliveryMan.username}"></td>
                  <td th:text="${(chat.order==null)?'':chat.order.id}"></td>

                </tr>
                </body>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

      </div>
    </div>
      </div>
  </section>
</div>

</body>
</html>
