<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - All Clients</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="callout callout-warning" th:if="${#lists.isEmpty(clients)}">
                        <h5>No Client found!</h5>

                        <p>There is no Client in our database</p>
                    </div>
                    <div class="card" th:if="${not #lists.isEmpty(clients)}">
                        <div class="card-header">
                            <h3 class="card-title">List of Clients</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap text-center">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Date Creation</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="client: ${clients}">
                                    <td th:text="${client.id}"></td>
                                    <td th:text="${client.username}"></td>
                                    <td th:text="${client.firstName + ' ' + client.lastName}"></td>
                                    <td th:text="${client.phone}"></td>
                                    <td th:text="${#dates.format(client.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                                    <td th:text="${client.status}"></td>

                                    <td>

                                        <a th:href="@{'/clients/view/'+${client.id}}">
                                            <i style="color: darkred; margin: 0 5px" class="fas fa-eye"
                                               title="view client"></i>
                                        </a>

                                        <i th:attr="data-url='/clients/delete/'+${client.id}"
                                           style="color: darkred; margin: 0 5px; cursor: pointer"
                                           class="far fa-trash-alt"
                                           title="Remove client"></i>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->

                        <!-- /.card -->
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>
