<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - All Clients</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List of Clients</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input class="form-control float-right" name="table_search" placeholder="Search"
                                           type="text">

                                    <div class="input-group-append">
                                        <button class="btn btn-default" type="submit"><i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap text-center">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Date Creation</th>
                                    <th>Status</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="client: ${clients}">
                                    <td th:text="${client.id}"></td>
                                    <td th:text="${client.username}"></td>
                                    <td th:text="${client.firstName + ' ' + client.lastName}"></td>
                                    <td th:text="${client.phone}"></td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>

                                    <td>

                                        <a th:href="@{'/clients'+${client.id}}">
                                            <i style="color: darkred; margin: 0 5px"  class="fas fa-eye" title="veiw client"></i>
                                        </a>
                                        <a th:href="@{'/clients/delete/'+${client.id}}">
                                            <i style="color: darkred; margin: 0 5px"  class="far fa-trash-alt" title="Remove client"></i>
                                        </a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>
        </div>
    </section>
</div>

</body>
</html>
