<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pharma Connect - All Delivery men</title>
</head>
<body>

<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="callout callout-warning" th:if="${#lists.isEmpty(deliveryMen)}">
            <h5>No DeliveryMan found!</h5>

            <p>There is no DeliveryMan in our database, you can <a class="text-info" th:href="@{/delivery-men/add}">add one</a> .</p>
          </div>
          <div class="card" th:if="${not #lists.isEmpty(deliveryMen)}">

           <div class="card-header">

              <h3 class="card-title">List of Delivery men</h3>




            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap text-center">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Date Creation</th>
                  <th>Status</th>
                  <th></th>
                </tr>
                </thead>
                <body>
                <tr th:each="deliveryMan: ${deliveryMen}">
                  <td th:text="${deliveryMan.id}"></td>
                  <td th:text="${deliveryMan.username}"></td>
                  <td th:text="${deliveryMan.firstName + ' ' + deliveryMan.lastName}"></td>
                  <td th:text="${deliveryMan.phone}"></td>
                  <td th:text="${#dates.format(deliveryMan.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                  <td th:text="${deliveryMan.status}"></td>
                  <td>



                  <a th:href="@{'/delivery-men/view/'+${deliveryMan.id}}">
                    <i style="color: darkred; margin: 0 5px"  class="fas fa-eye" title="view delivery"></i>
                  </a>

                    <a th:href="@{'/delivery-men/edit/'+${deliveryMan.id}}">
                      <i class="far fa-edit" style="color: coral; margin: 0 5px" title="Edit DeliveryMan"></i>
                    </a>

                    <a th:href="@{'/delivery-men/delete/'+${deliveryMan.id}}">
                      <i class="far fa-trash-alt" style="color: darkred; margin: 0 5px" title="Remove DeliveryMan"></i>
                    </a>


                  </td>
                </tr>
                </body>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

      </div>
    </div>
  </section>


</div>

</body>
</html>
