<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - View Client</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Personal Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div th:text="${'Full Name  :'+deliveryMan.firstName+' '+deliveryMan.lastName}"></div>
                            <div th:text="${'Phone  :'+deliveryMan.phone}"></div>
                            <div th:text="${'Status  :'+deliveryMan.status}"></div>
                            <div th:text="${'Created At  :'+deliveryMan.createdAt}"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>


            </div>

            <div class="row" th:if="${not #lists.isEmpty(deliveryMan.orders)}">
                <div class="col-md-12">


                </div>

            </div>
            <div class="row" th:if="${not #lists.isEmpty(deliveryMan.reviews)}">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">List of Reviews</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover text-nowrap text-center">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Rate</th>
                                    <th>Review</th>
                                    <th>Client</th>
                                    <th>Order-Id</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="review: ${deliveryMan.reviews}">
                                    <td th:text="${review.id}"></td>
                                    <td th:text="${review.rate}"></td>
                                    <td th:text="${review.label}"></td>
                                    <td><a th:href="@{'/clients/view/'+${review.client.id}}"
                                           th:text="${review.client.firstName+' '+review.client.lastName}"></a>
                                    </td>
                                    <td th:text="${(review.order==null)?'':review.order.id}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>

</body>
</html>
