<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - View Client</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Personal Information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                Digital Strategist
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><p th:text="${deliveryMan.firstName+' '+deliveryMan.lastName}"></p></h2>
                                        <p  class="far fa-user"><b>About: </b> <b style="color: green" th:text="${deliveryMan.status}"></b></p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span><p th:text="${'Status  :'+deliveryMan.role}"></p></li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span><p th:text="${'Phone :'+deliveryMan.phone}"></p></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img th:src="@{/img/avatar.png}" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- /.card-body -->
                    </div>

                </div>


            </div>

            <div class="row" th:if="${not #lists.isEmpty(deliveryMan.orders)}">
                <div class="col-md-12">


                </div>

            </div>
            <div class="row" th:if="${not #lists.isEmpty(deliveryMan.reviews)}">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">List of Reviews</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover text-nowrap text-center">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Rate</th>
                                    <th>Review</th>
                                    <th>Client</th>
                                    <th>Order-Id</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="review: ${deliveryMan.reviews}">
                                    <td th:text="${review.id}"></td>
                                    <td th:text="${review.rate}"></td>
                                    <td th:text="${review.label}"></td>
                                    <td><a th:href="@{'/clients/view/'+${review.client.id}}"
                                           th:text="${review.client.firstName+' '+review.client.lastName}"></a>
                                    </td>
                                    <td th:text="${(review.order==null)?'':review.order.id}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>

</body>
</html>
