<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Pharma Connect - Add Permanent</title>
</head>
<body>

<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Permanent</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" method="post" th:action="@{/permanents/add}">
              <div class="card-body">
                <div class="form-group">
                  <div class="form-check">
                    <label>Permanent Type</label>
                    <p></p>
                    <input class="form-check-input" type="radio" name="radio1">
                    <label class="form-check-label">Day</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio1" checked>
                    <label class="form-check-label">Night</label>
                  </div>

                </div>
                <div class="form-group">
                  <label>Date Start && Date End:</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-clock"></i></span>
                    </div>
                    <input type="text" class="form-control float-right" id="reservationtime">
                  </div>
                  <!-- /.input group -->
                </div>

              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
  </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

</body>
</html>
