<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Pharma Connect - Add Permanent</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Permanent</h3>
                        </div>

                        <form role="form" method="post" th:action="@{/permanents/add}">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="form-check">
                                        <label>Permanent Type</label>
                                        <p></p>
                                        <input class="form-check-input"
                                               type="radio"
                                               th:value="${T(ma.pharmaconnect.app.pharmaconnect.model.PermanentType).DAY}"
                                               th:id="${T(ma.pharmaconnect.app.pharmaconnect.model.PermanentType).DAY}"
                                               name="type">
                                        <label th:for="${T(ma.pharmaconnect.app.pharmaconnect.model.PermanentType).DAY}"
                                               class="form-check-label"
                                               th:text="${T(ma.pharmaconnect.app.pharmaconnect.model.PermanentType).DAY}"></label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="type"
                                               th:value="${T(ma.pharmaconnect.app.pharmaconnect.model.PermanentType).NIGHT}"
                                               th:id="${T(ma.pharmaconnect.app.pharmaconnect.model.PermanentType).NIGHT}"
                                               checked>
                                        <label
                                                th:for="${T(ma.pharmaconnect.app.pharmaconnect.model.PermanentType).NIGHT}"
                                                class="form-check-label"
                                                th:text="${T(ma.pharmaconnect.app.pharmaconnect.model.PermanentType).NIGHT}"></label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>Date Start and Date End:</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input name="rangeDate" type="text" class="form-control float-right"
                                               id="reservationtime"
                                               placeholder="Date Start AND Date End" required="required">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Pharmacy IN Permanents</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form role="form" method="post" th:action="@{/permanents/link-pharmacy}">


                                <div class="form-group">
                                    <label>Select Pharmacy</label>
                                    <select class="form-control" name="pharmacyId">
                                        <option th:each="pharmacy: ${pharmacies}" th:text="${pharmacy.name}"
                                                th:value="${pharmacy.id}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Pharmacy</label>
                                    <select class="form-control" name="permanentId">
                                        <option th:each="permanent: ${permanents}"
                                                th:text="${permanent.show()}"
                                                th:value="${permanent.id}"></option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Add</button>

                            </form>

                        </div>
                        <div class="card-footer"></div>
                    </div>

                </div>
                <!-- /.col -->
            </div>
        </div>
    </section>


</div>

</body>
</html>
