<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharma Connect - Permanent</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List of Permanent</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input class="form-control float-right" name="table_search" placeholder="Search"
                                           type="text">

                                    <div class="input-group-append">
                                        <button class="btn btn-default" type="submit"><i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>

                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th></th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="permanent: ${permanents}">
                                    <td th:text="${permanent.id}"></td>
                                    <td th:text="${permanent.type}"></td>
                                    <td th:text="${#dates.format(permanent.startDate, 'dd-MM-yyyy HH:mm')}"></td>
                                    <td th:text="${#dates.format(permanent.endDate, 'dd-MM-yyyy HH:mm')}"></td>

                                    <td>
                                        <a th:href="@{'/permanents/edit/'+${permanent.id}}">
                                            <i style="color: coral; margin: 0 5px" class="far fa-edit" title="Edit permanent"></i>
                                        </a>

                                        <a th:href="@{'/permanents/delete/'+${permanent.id}}">
                                            <i style="color: darkred; margin: 0 5px"  class="far fa-trash-alt" title="Remove permanent"></i>
                                        </a>
                                        <a th:href="@{'/permanents'+${permanent.id}}">
                                            <i style="color: darkred; margin: 0 5px"  class="fas fa-eye" title="veiw permanent"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>
        </div>
    </section>
</div>

</body>
</html>
