<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Pharma Connect - Add Pharmacies</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Edit Pharmacy</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" th:action="@{/permanents/edit}">
                            <input type="hidden" name="id" th:value="${permanent.id}"/>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Permanent Type</label>
                                    <input name="name" required="required" type="text" class="form-control" id="name" placeholder="Pharmacy Name" th:value="${permanent.type}">
                                </div>
                                <div class="form-group">
                                    <label for="address">Pharmacy Address</label>
                                    <input name="address" required="required" type="text" class="form-control" id="address" placeholder="Pharmacy Address" th:value="${permanent.startDate}">
                                </div>
                                <div class="form-group">
                                    <label for="pharmacist">Pharmacist</label>
                                    <input name="pharmacist" required="required" type="text" class="form-control" id="pharmacist" placeholder="Pharmacist" th:value="${permanent.endDate}">
                                </div>


                                <div class="form-group">
                                    <label>Select Ville</label>
                                    <select class="form-control" name="city.id">
                                        <option th:each="pharmacy: ${pharmacies}" th:text="${pharmacy.name}" th:value="${pharmacy.id}" th:selected="${permanent.pharmacies == pharmacy.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
</body>

</html>
